# Backend configuration for local development
BACKEND_API_KEY=changeme
GGC_API_BASE_URL=https://api.greengridcompass.eu
GGC_API_KEY=
GGC_OAUTH_TOKEN_URL=https://signin.energy/am/oauth2/realms/root/realms/difesp/access_token
GGC_CLIENT_ID=esp_SelinaHeinITProjektaAnSenf_001
GGC_CLIENT_SECRET=
GGC_SCOPE=esp
ENTSOE_API_KEY=
